* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    color: white;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
}

#p-main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 80vh;
    background-color: beige;

    background-color: #353535;
}

#p-section {
    width: 400px;
    height: 400px;
    overflow: hidden;

    border-radius: 8%;

    /* border: 2px solid red; */
}

#p-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    text-align: center;
    background-color: black;
    font-size: 1.2em;

    /* border: 1px solid rgb(255, 255, 255); */
}

#picture {
    width: 100%;
    height: calc(100% - 140px);
    background-image: url("/css/portifolio.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    /* border: 1px solid blue; */
}

#p-footers {
    display: flex;

    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    padding: 2px;
    background-color: black;
    text-align: center;

    font-size: 1em;

    /* border: 1px solid blue; */
}

#p-footers a {
    font-size: .8em;
}