* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    min-height: 100vh;
    background-color: #F5F5F5;
}

h2 {
    font-size: 2.5rem;
    color: #42446E;
    text-align: center;
    margin-bottom: 3rem;
}

h3 {
    font-size: 32px;
    color: #42446E;
    margin-bottom: 2.375rem;
}

a {
    text-decoration: none;
}

#container {
    margin: auto;
    width: 100%;
    max-width: 1204px;
}

#header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1204px;
    background-color: #F5F5F5;

    /* border: 1px solid red; */
}

#icon {
    width: 97px;
    height: 59px;
    background-color: #dfdfdf;
}

#nav-container {
    display: flex;
    align-items: center;
}

#nav {
    text-align: center;
    width: 609px;
    /* margin-right: 51px; */

    /* border: 1px solid red; */
}

#nav a {
    font-size: 1.25rem;
    font-family: 'DM Sans', sans-serif;
    transition: .500ms;
    border-bottom: transparent;
    /* border-bottom: 2px solid #000; */
}

#nav a:hover {
    border-bottom: 2px solid #666666;
}

#nav a:not(:last-child) {
    margin-right: 32px;
}

#social-media {
    font-size: 1.875rem;
}

#social-media a:not(:last-child),
#contacts a:not(:last-child) {
    margin-right: 20px;
}

#social-media a,
#nav a,
#contacts a {
    color: #666666;
}

/* Home */
#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: calc(100vh - 0px);
    padding: 5rem 0;

    /* background-color: rgb(253, 209, 209); */
    /* border: 1px solid red; */
}

#my-presentation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    /* border: 1px solid blue; */
}

#title {
    font-size: 3.625rem;
    font-weight: bolder;
    color: #42446E;
}

#title, span {
    display: block;
}

#title #name {
    background: linear-gradient(to right, rgba(19, 176, 245, 1), rgba(231, 15, 170, 1));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

#my-presentation img {
    width: 100%;
    max-width: 345px;
    max-height: 345px;
    border-radius: 50%;
    border: 10px solid transparent;
    background-image: linear-gradient(80deg, rgba(231, 15, 170, 1), rgba(0, 192, 253, 1));
    overflow: hidden;
}

#contacts {
    position: absolute;
    bottom: 0;
    padding-bottom: 8rem;

    /* border: 1px solid red; */
}

#contacts a {
    font-size: 1.875rem;
}

/* Sobre*/
#aboult {
    padding: 5rem 0;
    color: #666666;

    /* border: 1px solid green; */
}

.aboult-containers {
    font-size: 18px;
    margin: auto;
    width: 100%;
    max-width: 704px;
    margin-bottom: 2.375rem;

    /* border: 1px solid blue; */
}


.jobs {
    border-bottom: 2px solid #EBEAED;
    margin-bottom: 30px;
}

.jobs header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.jobs .title {
    font-size: 20px;
}

.jobs .regime {
    font-size: 9px;
    color: #018C0F;
    font-weight: bold;
    border-radius: 15px;
    padding: 5px 20px;
    background-color: #D7FFE0;
}

.info {
    display: flex;
    color: #666666;
    margin-bottom: 24px;
}

.info p {
    font-size: 12px;
    text-align: center;
}

.info i {
    /* color: red; */
    font-size: 1rem;
    margin-right: 5px;
}

.info .company {
    margin-right: 2rem;
}

.info .period {
    margin-left: auto;
}

/* My stack */
#my-stack {
    padding: 5rem 0;

    /* border: 1px solid red; */
}

.description-section {
    text-align: center;
    margin-bottom: 140px;
    font-size: 2rem;
    color: #666666;
}

.stack-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 6.5rem;

    /* border: 1px solid blue; */
}

.stack-container img {
    width: 120px;
}

/* Projetos */
#projects {
    width: 100%;
    padding: 5rem 0;

    /* border: 1px solid blue; */
}