* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    min-height: 100vh;
    background-color: #F5F5F5;
}

h2 {
    font-size: 2.5rem;
    color: #42446E;
    text-align: center;
    margin-bottom: 3rem;
}

h3 {
    font-size: 32px;
    color: #42446E;
    margin-bottom: 2.375rem;
}

a {
    text-decoration: none;
    color: #666666;
}

#container {
    margin: auto;
    width: 100%;
    max-width: 1204px;
    padding: 0 1rem;
}

#header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1204px;
    background-color: #F5F5F5;
    padding: 1.5rem 1rem;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    z-index: 6;
    /* border: 1px solid red; */
}

#logo {
    display: flex;
    min-width: 110px;
    height: 30px;
    border: 1px solid #42446E;
}

#logo #initial-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 30px;
    color: #fff;
    background-color: #42446E;
    font-weight: bold;
}

#logo #name-logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: #42446E;
}

#nav-container {
    display: flex;
    align-items: center;
}

#nav {
    text-align: center;
    width: 609px;
}

#nav a {
    font-size: 1.25rem;
    font-family: 'DM Sans', sans-serif;
    transition: .900ms;
    border-bottom: transparent;
}

#nav a:hover {
    color: #666666;
    border-bottom: 2px solid #666666;
}

#nav a:not(:last-child) {
    margin-right: 32px;
}

/* home */
#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    padding: 5rem 0;
}

#my-presentation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#title {
    font-size: 3.625rem;
    font-weight: bolder;
    color: #42446E;
}

#title, span {
    display: block;
}

#title #name {
    background: linear-gradient(to right, #13b0f5, #e70faa);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

#my-presentation img {
    width: 100%;
    max-width: 445px;
    max-height: 445px;
    border-radius: 50%;
    border: 10px solid transparent;
    background-image: linear-gradient(80deg, rgba(231, 15, 170, 1), rgba(0, 192, 253, 1));
    overflow: hidden;
}

#social-media {
    display: flex;
    gap: 2rem;
    position: absolute;
    bottom: 0;
    padding-bottom: 8rem;
}

#social-media button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 400;
    color: #42446E;
    width: 150px;
    height: auto;
    padding: 2px;
    background-color: transparent;
    border-radius: 40px;
    border: 1px solid #42446E;
    background-color: blac;
    cursor: pointer;
    transition: .7s;
}

#social-media button:hover {
    color: #fff;
    border: 0;
    background-color: #42446E;
}

#social-media button i {
    font-size: 1.5rem;
}

#social-media a {
    font-size: 1.875rem;
}

/* Sobre*/
#aboult {
    padding: 5rem 0;
    color: #666666;
}

.aboult-containers {
    font-size: 18px;
    margin: auto;
    width: 100%;
    max-width: 704px;
    margin-bottom: 2.375rem;
}

.jobs {
    border-bottom: 2px solid #EBEAED;
    margin-bottom: 30px;
}

.jobs header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.jobs .title {
    font-size: 20px;
}

.jobs .regime {
    font-size: 9px;
    color: #018C0F;
    font-weight: bold;
    border-radius: 15px;
    padding: 5px 20px;
    background-color: #D7FFE0;
}

.info {
    display: flex;
    color: #666666;
    margin-bottom: 24px;
}

.info p {
    display: flex;
    align-items: center;
    font-size: 12px;
    text-align: center;
}

.info i {
    font-size: 1rem;
    margin-right: 5px;
}

.info .company {
    margin-right: 2rem;
}

.info .company:not(last-child) {
    text-align: start;
    min-width: 130px;
}

.info .period {
    margin-left: auto;
}

.info .period:last-child {
    text-align: end;
}

/* my stack */
#my-stack {
    padding: 5rem 0;
}

#my-stack p {
    margin-bottom: 96px;
}

.description-section {
    text-align: center;
    font-size: 2rem;
    color: #666666;
}

.stack-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 6.5rem;
}

.stack-container img {
    width: 120px;
}

/* Projetos */
#projects {
    padding: 5rem 0;
}

#projects .description-section {
    margin-bottom: 96px;
}

#project-list {
    display: flex;
    justify-content: center;
    gap: 37px;
    width: 100%;
}

.project {
    display: flex;
    align-items: end;
    width: 384px;
    height: 512px;
    border: 1px solid black;
    border-radius: 20px;
    border: 20px solid black;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 40px;
    background-position: center;
    background-size: cover;

    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out;
}

.container-project {
    width: 100%;
    height: 60%;
    padding: 1.75rem;
    bottom: 0;
    background-color: #fff;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 0px 10px 10px;


    transform: translateY(100%);
    transition: transform 0.5s ease-out;
}

.project:hover .container-project {
    transform: translateY(0);
}

.container-project:hover {
    transform: translateY(0);
}

.container-project .name {
    font-size: 1.75rem;
    font-weight: 500;
    margin-bottom: 17px;
}

.container-project .description {
    font-size: 18px;
    color: #666666;
    margin-bottom: 12px;
}

.container-project .stack {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 21px;
}

.container-project .stack span {
    font-size: 14px;
    font-weight: 300;
    margin-left: 6px;
    color: #42446E;
}

.container-project .links-project {
    display: flex;
    justify-content: space-between;
}

.container-project .links-project a {
    display: flex;
    font-size: 16px;
    text-decoration: dotted;
    color: #000;
    text-decoration: underline;
    cursor: pointer;
}

.container-project .links-project i:not(:last-child) {
    margin-right: 10px;
}

#contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    margin-top: 2rem;
}

#contacts h4 {
    font-size: 2rem;
    font-weight: 400;
}

#contacts #contact-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#contacts i {
    font-size: 1.5rem;
    color: #42446E;
}

#footer {
    width: 100%;
    /* min-height: 250px; */
    /* background-color: #e5f0e6; */
}

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    border-top: 1px solid #666666;
}

#footer #info-footer {

    text-align: center;
}