* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 99vw;
    background-color: #5201af;

    /* border: 2px solid red; */
}

.super_container {
    width: 100vw;
    height: 100vh;
    /* background-color: rgb(219, 219, 219); */

    /* border: 1px solid greenyellow; */
}

header {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 110px;
    transition-duration: 600ms;

    /* border: 1px solid rgb(22, 0, 219); */
}

.top_header {
    background-color: rgb(0, 0, 0);
}


/* Alterar o fundo ao passar o mouse */

/* header:hover {   
    border-bottom: 1px solid rgba(255, 255, 255, 0.103);
} */

.top_navigator {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 99%;
    height: 40px;

    /* border: 1px solid red; */
}

.box_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 160px;
    flex-wrap: wrap;

    /* border: 1px solid rgb(0, 255, 0); */
}

.box_logo p {
    font-family: 'Roboto', sans-serif;
    color: white;
    flex-wrap: wrap;

    /* border: 1px solid rgb(0, 255, 255); */
}

.logo p {
    font-size: 2em;
    padding: 8px;
    border-radius: 15%;
    background-image: linear-gradient(to right, rgb(199, 15, 255), rgb(68, 0, 255));

    /* border: 1px solid greenyellow */
}

.logo_text {
    font-size: 1em;
}

.logo_text_p {
    font-size: .5em;
}

.top_menu {
    width: 80%;
    max-width: 700px;
    height: 100%;

    /* border: 1px solid rgb(56, 11, 255); */
}

.top_menu ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    list-style: none;

    /* border: 1px solid rgb(21, 255, 0); */
}

.top_menu a {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 500;
    color: white;
    transition-duration: 600ms;
    text-decoration: none;

    /* border: 1px solid rgb(0, 255, 179); */
}

.ul_logo_social {
    width: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.top_menu a:hover {
    color: #5201af;
}

.top_menu img {
    width: 18px;
}

.sections {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

    /* border: 1px solid greenyellow; */
}


/* Section1 */

.section1 {
    background-image: url("/assets/images/notebook-G.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* border: 1px solid red; */
}

.section1_box_text {
    width: 70%;
    max-width: 1000px;
    min-width: 600px;
    border-right: 1px solid white;

    animation-name: efeitoDigitacao;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: initial;

    /* border: 1px solid red; */
}

.section1_box_text h1 {
    width: 350px;
    font-style: normal;
    font-size: 4em;
    color: white;
    padding-bottom: 20px;

    /* border: 1px solid blue; */
}

.section1_box_text p {
    width: 500px;
    font-size: 1.7em;
    font-weight: 500;
    font-style: normal;
    padding-bottom: 20px;
    /* color: #3796b3; */
    color: #7500fa;

    /* border: 1px solid red; */
}

.section1_box_text p:hover {
    color: #3c0280;
}




/* SECTION 2 */

.section2 {
    background-color: #000000;

    border: 2px solid rgb(255, 0, 221);
}

.section2_box {
    display: grid;
    grid-template-areas: "a1 a1 a2 a2 a2 a2"
        "a1 a1 a2 a2 a2 a2"
        "a3 a3 a3 a3 a3 a3";
    align-items: center;
    justify-content: center;
}

h2 {
    width: 100%;
    padding-top: 20px;
    font-size: 2.5em;
    color: white;
    text-align: center;

    border: 1px solid blue;
}

.item1 {
    grid-area: a1;
}

.item1 img {
    width: 100%;
    max-width: 210px;
    min-width: 210px;
    border-radius: 3%;

    border: 2px solid blue
}

.item2 {
    grid-area: a2;

    width: 100%;
    max-width: 700px;
    /* min-width: 500px; */
    padding: 20px;
    font-size: 1.2em;
    color: white;

    /* border: 2px solid red; */
}

.item2 h3 {
    font-size: 1.7em;
    color: white;
    padding-bottom: 40px;

    border: 1px solid greenyellow;
}

.item2 p {
    padding-bottom: 10px;

    /* border: 1px solid rgb(115, 255, 0); */
}

.item3 {
    grid-area: a3;
    display: flex;
    justify-content: space-between;


}

.item3 img {
    width: 100%;
    max-width: 140px;
    height: 40px;
}

.section2_box {
    width: 100vw;
    max-width: 1100px;
    height: 99%;

    /* border: 1px solid rgb(255, 0, 0); */
}





/* SECTION3 */
.section3 {
    color: white;
    background-color: #131313;
}


/* SECTION 4 */
.section4 {
    color: white;
    background-color: #000000;

    border: 2px solid rgb(255, 0, 221);
}



button {
    font-size: 2.2em;
    color: white;
    border: none;
    background-color: transparent;
    position: absolute;
    right: 60px;
    display: none;
}






/* Animações */

@keyframes efeitoDigitacao {
    from {

        border-right-color: rgba(255, 255, 255, 0.733)
            /* color: #7500fa; */
    }

    to {
        border-right-color: transparent;
        /* color: blue; */
    }
}







/*Media Queries*/

/* Tablet Ipad 768 x 1024 */



@media (max-width: 768px) {

    /* Inserir cor de fundo ao menu */
    #top_header {
        background-color: rgb(0, 0, 0);

        /* border: 1px solid rgb(22, 0, 219); */
    }


    /* Ocultar o texto da logo */
    .logo_text p {
        display: none;
    }


    /* Ocultar Icones redes Sociais */
    .ul_logo_social {
        display: none;
    }


    .top_menu a {
        font-size: .8em;
        display: none;
        /* border: 1px solid rgb(0, 255, 179); */
    }


    /* SECTION1 */
    .section1_box_text h1 {
        width: 350px;
        font-size: 3.5em;
        padding-bottom: 20px;

        /* border: 1px solid blue; */
    }

    .section1_box_text p {
        width: 500px;
        font-size: 1.3em;

        padding-bottom: 20px;

        /* border: 1px solid red; */
    }

    /* SECTION2 */

    .item3 {
        grid-area: a3;
        display: flex;
        justify-content: space-around;


    }

    .item3 img {
        width: 100%;
        max-width: 75px;
        height: 25px;
      

    }



    /* Exibir burger menu */
    button {

        display: block;
    }
}





/* SMATPHONE IPHONE 6 667 x 375*/

@media (max-width: 375px) {

    /* HEADER */

    /* Logo topo */

    .top_navigator {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 99%;
        height: 40px;

        /* border: 1px solid red; */
    }

    .box_logo {
        width: auto;
        flex-wrap: wrap;

        border: 1px solid rgb(0, 255, 0);
    }


    .logo p {
        font-size: 1em;
        padding: 5px;

        /* border: 1px solid greenyellow */
    }


    /* Section1 */


    .item3 img {
        width: 100%;
        max-width: 70px;
        height: 20px;
      

    }
    

   


    /* Section2 */


    /* Section3 */
}